.login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;

    height: 100vh;

    .leftSection{
        height: 100%;
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        p{
            font-size: 1rem;
            margin-bottom: 2rem;
        }

        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            

            label{
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
            }

            input{
                padding: 0.8rem;
                margin-bottom: 1.5rem;
                font-size: 1rem;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            button{
                padding: 0.8rem;
                font-size: 1.2rem;
                background-color: #007BFF;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;

                &:hover{
                    background-color: #0056b3;
                }
            }

            .backLink{
                margin-top: 1rem;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                color: black;
                text-decoration: none;
                background-color: aqua;
                height: 45px;
                font-size: 1.2rem;
                border-radius: 4px;

                &:hover{
                    background-color:aquamarine;
                }
            }
        }
    }

    .rightSection{
        height: 100%;
        width: 50%;

        background-image: url('/imagem-login.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position:center;
    }
}